/**
 * Base Button Style
 * Shared default values for all bttn variants.
 *
 * @mixin bttn-base
 * @access private
 */
@mixin bttn-base {
  appearance: none; // Ensure consistent rendering across browsers
  cursor: pointer;
  font-weight: $bttn-font-weight;
  font-family: $bttn-font-family;
  overflow-wrap: break-word;
  text-decoration: none;
  text-align: center;
  text-transform: $bttn-text-transform;
  word-break: break-word;

  &:active,
  &:hover {
    text-decoration: none;

    .icon,
    .icon-wrap {
      text-decoration: none;
    }
  }

  &:focus {
    outline: thin dotted;
  }
}
