////////////////////////////////////////////////////////////
// 1. Default Button Themes ///////////////////////////////
//////////////////////////////////////////////////////////
$map-bttn-themes :(

default:(
    bg-color: #181d1c,
    bg-color-active: #c9c0c0ea,
    font-color: #fff,
    font-color-active: #181d1c,
    icon-fill: #fff,
    icon-fill-active: #c9c0c0ea,
  ),
);
