<style>
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  table {
    width: 100%;
    margin: 0 auto 1.5em auto;
    text-align: center;
    border-collapse: collapse
  }

  table,
  tr,
  td,
  th {
    text-align: center;
  }

  td {
    padding: 1em .5em;
    width: 33.33333%
  }

  tbody td {
    border-bottom: 1px dotted #000;
  }

  th {
    padding: .5em;
    font-size: 16px;
    font-weight: normal
  }

  thead,
  tr {
    border-bottom: 1px solid #ccc;
  }

  thead {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
  }

  caption {
    color: #cd333c;
    text-align: center;
  }

  .rv,
  .rv td {
    background-color: #02263c;
  }

  .rv code {
    color: #fff;
  }

  .button-demo h2 {
    text-align: left;
    margin: 0 0 0.5em 0;
    font-size: 1rem;
    font-weight: normal
  }

</style>

{{!--
<!-- markup -->
<!-- <textarea style="background-color:#000; color:#fff;width:100%;">
&lt;a href="#" class="bttn"&gt;
Button Text&lt;/a&gt;
&lt;button href="#" class="bttn">Button Text&lt;/button&gt;
</textarea> -->
--}}

<section class="sub-section button-demo">

  <h2>PRIMARY BUTTONS</h2>
  <table>
    <thead>
      <tr>
        <th>Sass Mixin</th>
        <th>Class Name</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td>
          <code>bttn($size:sm, $font-size:sm)</code>
        </td>
        <td>
          <code>.bttn-sm</code>
        </td>
        <td>
          <a href="#" class="bttn-sm">Button Text</a>
        </td>
      </tr>

      <tr>
        <td>
          <code>bttn()</code>
        </td>
        <td>
          <code>.bttn</code>
        </td>
        <td>
          <a href="#" class="bttn">Button Text</a>
        </td>
      </tr>

      <tr>
        <td>
          <code>bttn($size:lg, $font-size:lg)</code>
        </td>
        <td>
          <code>.bttn-lg</code>
        </td>
        <td>
          <a href="#" class="bttn-lg">Button Text</a>
        </td>
      </tr>

      <tr>
          <td>
            <code>bttn($size:xl, font-size:xl)</code>
          </td>
          <td>
            <code>.bttn-xl</code>
          </td>
          <td>
            <a href="#" class="bttn-xl">Button Text</a>
          </td>
        </tr>
    </tbody>
  </table>


  <h2>STROKE BUTTONS</h2>
  <table>
    <thead>
      <tr>
        <th>Sass Mixin</th>
        <th>Class Name</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td>
          <code>bttn-stroke($size:sm, $font-size:sm)</code>
        </td>
        <td>
          <code>.bttn-stroke-sm</code>
        </td>
        <td>
          <a href="#" class="bttn-stroke-sm">Button Text</a>
        </td>
      </tr>

      <tr>
        <td>
          <code>bttn-stroke()</code>
        </td>
        <td>
          <code>.bttn-stroke</code>
        </td>
        <td>
          <a href="#" class="bttn-stroke">Button Text</a>
        </td>
      </tr>

      <tr>
        <td>
          <code>bttn-stroke($size:lg, $font-size:lg)</code>
        </td>
        <td>
          <code>.bttn-stroke-lg</code>
        </td>
        <td>
          <a href="#" class="bttn-stroke-lg">Button Text</a>
        </td>
      </tr>

      <tr>
          <td>
            <code>bttn-stroke($size:xl, font-size:xl)</code>
          </td>
          <td>
            <code>.bttn-stroke-xl</code>
          </td>
          <td>
            <a href="#" class="bttn-stroke-xl">Button Text</a>
          </td>
        </tr>
    </tbody>
  </table>

  <h2>GHOST BUTTONS</h2>
  <table>
    <thead>
      <tr>
        <th>Sass Mixin</th>
        <th>Class Name</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          <code>bttn-ghost()</code>
        </td>
        <td>
          <code>.bttn-ghost</code>
        </td>
        <td>
          <a href="#" class="bttn-ghost">Button Text</a>
        </td>
      </tr>
    </tbody>
  </table>

</section>
