
<style>
	table {width:90%; margin: 0 auto 60px auto; text-align: center;}
	table, tr, td, th { text-align: center;}
	td {padding: 1em .5em; width: 33.33333%}
	th {padding: .5em; font-size:16px; font-weight: normal}
	thead,tr {border-bottom: 1px solid #ccc;}
	thead { background-color: #44b1a0; color: #fff; }
	caption { color:#cd333c; text-align: center;}
	.rv, .rv td { background-color: #02263c;}
	.rv code { color: #fff;}
	.button-demo h2 {text-align: center;width:90%;margin: 20px auto; font-size: 26px;}
</style>

{{!--
<!-- markup -->
<!-- <textarea style="background-color:#000; color:#fff;width:100%;">
&lt;a href="#" class="bttn"&gt;
Subscribe&lt;/a&gt;
&lt;button href="#" class="bttn">Subscribe&lt;/button&gt;
</textarea> -->
 --}}

 <section class="sub-section button-demo">

 	<h2>PRIMARY BUTTONS</h2>
 	<table>
 		<thead>
 			<tr>
 				<th>SASS MIXIN</th>
 				<th>HTML CLASS</th>
 				<th>RENDERING</th>
 			</tr>
 		</thead>
 		<tbody>


			<tr>
 				<td><code>btn()</code></td>
 				<td><code>.bttn</code></td>
 				<td>
 					<a href="#" class="bttn">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn(red)</code></td>
 				<td><code>.bttn--red</code></td>
 				<td>
 					<a href="#" class="bttn--red">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn(blue)</code></td>
 				<td><code>.bttn--blue</code></td>
 				<td>
 					<a href="#" class="bttn--blue">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn(green)</code></td>
 				<td><code>.bttn--green</code></td>
 				<td>
 					<a href="#" class="bttn--green">Subscribe</a>
 				</td>
 			</tr>
 			<tr class="rv">
 				<td><code>btn(reversed)</code></td>
 				<td><code>.bttn--reversed</code></td>
 				<td>
 					<a href="#" class="bttn--reversed">Subscribe</a>
 				</td>
 			</tr>
 		</tbody>
 	</table>

	<h2>xl BUTTONS</h2>
	<table>
		<thead>
			<tr>
				<th>SASS MIXIN</th>
				<th>HTML CLASS</th>
				<th>RENDERING</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td><code>@include btn-xl()</code></td>
				<td><code>.bttn-xl</code></td>
				<td>
					<a href="#" class="bttn-xl">Subscribe</a>
				</td>
			</tr>
			<tr>
			 <td><code>btn-xl(red)</code></td>
			 <td><code>.bttn-xl--red</code></td>
			 <td>
				 <a href="#" class="bttn-xl--red">Subscribe</a>
			 </td>
		 </tr>

		 <tr>
			 <td><code>btn-xl(blue)</code></td>
			 <td><code>.bttn-xl--blue</code></td>
			 <td>
				 <a href="#" class="bttn-xl--blue">Subscribe</a>
			 </td>
		 </tr>

		 <tr>
			 <td><code>btn-xl(green)</code></td>
			 <td><code>.bttn-xl--green</code></td>
			 <td>
				 <a href="#" class="bttn-xl--green">Subscribe</a>
			 </td>
		 </tr>
		 <tr class="rv">
			 <td><code>btn-xl(reversed)</code></td>
			 <td><code>.bttn-xl--reversed</code></td>
			 <td>
				 <a href="#" class="bttn-xl--reversed">Subscribe</a>
			 </td>
		 </tr>
		</tbody>
 	</table>


 	<h2>STROKE BUTTONS</h2>
 	<table>
 		<thead>
 			<tr>
 				<th>SASS MIXIN</th>
 				<th>HTML CLASS</th>
 				<th>RENDERING</th>
 			</tr>
 		</thead>
 		<tbody>

 			<tr>
 				<td><code>@include btn-stroke()</code></td>
 				<td><code>.bttn-stroke</code></td>
 				<td>
 					<a href="#" class="bttn-stroke">Subscribe</a>
 				</td>
 			</tr>
 			<tr>
 				<td><code>btn-stroke(red)</code></td>
 				<td><code>.bttn-stroke--red</code></td>
 				<td>
 					<a href="#" class="bttn-stroke--red">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn-stroke(blue)</code></td>
 				<td><code>.bttn-stroke--blue</code></td>
 				<td>
 					<a href="#" class="bttn-stroke--blue">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn-stroke(green)</code></td>
 				<td><code>.bttn-stroke--green</code></td>
 				<td>
 					<a href="#" class="bttn-stroke--green">Subscribe</a>
 				</td>
 			</tr>
			<tr class="rv">
 				<td><code>btn-stroke(reversed)</code></td>
 				<td><code>.bttn-stroke--reversed</code></td>
 				<td>
 					<a href="#" class="bttn-stroke--reversed">Subscribe</a>
 				</td>
 			</tr>
 		</tbody>
 		</tbody>
 	</table>
	<h2>STROKE BUTTONS SM (small)</h2>
	<table>
		<thead>
			<tr>
				<th>SASS MIXIN</th>
				<th>HTML CLASS</th>
				<th>RENDERING</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td><code>@include btn-stroke-sm()</code></td>
				<td><code>.bttn-stroke-sm</code></td>
				<td>
					<a href="#" class="bttn-stroke-sm">$19.95</a>
				</td>
			</tr>
			<tr class="rv">
				<td><code>@include btn-stroke-sm(white)</code></td>
				<td><code>.bttn-stroke-sm--reversed</code></td>
				<td>
					<a href="#" class="bttn-stroke-sm--reversed">$19.95</a>
				</td>
			</tr>
		</tbody>
	</table>
 	<h2>FLOATING BUTTONS</h2>
 	<table>
 		<thead>
 			<tr>
 				<th>SASS MIXIN</th>
 				<th>HTML CLASS</th>
 				<th>RENDERING</th>
 			</tr>
 		</thead>
 		<tbody>

 			<tr>
 				<td><code>@include btn-floating()</code></td>
 				<td><code>.bttn-floating</code></td>
 				<td>
 					<a href="#" class="bttn-floating">Subscribe</a>
 				</td>
 			</tr>
 			<tr>
 				<td><code>btn-floating(red)</code></td>
 				<td><code>.bttn-floating--red</code></td>
 				<td>
 					<a href="#" class="bttn-floating--red">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn-floating(blue)</code></td>
 				<td><code>.bttn-floating--blue</code></td>
 				<td>
 					<a href="#" class="bttn-floating--blue">Subscribe</a>
 				</td>
 			</tr>

 			<tr>
 				<td><code>btn-floating(green)</code></td>
 				<td><code>.bttn-floating--green</code></td>
 				<td>
 					<a href="#" class="bttn-floating--green">Subscribe</a>
 				</td>
 			</tr>

 			<tr class="rv">
 				<td><code>btn-floating(white)</code></td>
 				<td><code>.bttn-floating--white</code></td>
 				<td>
 					<a href="#" class="bttn-floating--white">Subscribe</a>
 				</td>
 			</tr>

 			<tr class="rv">
 				<td><code>btn-floating(reversed)</code></td>
 				<td><code>.bttn-floating--reversed</code></td>
 				<td>
 					<a href="#" class="bttn-floating--reversed">Subscribe</a>
 				</td>
 			</tr>
 		</tbody>
 	</table>




 </section>
