////////////////////////////////////////////////////////////
// ACE BUTTONS BASE DEFAULTS //////////////////////////////
//////////////////////////////////////////////////////////
$btn-namespace: ".btn"; //prefix for all classes

// Box Sizing
$btn-display:                  inline-block !default;
$btn-block:                    null !default;
$btn-padding:                  15px 20px !default;
$btn-padding-em-adjust:        15px 20px !default; // b/c of larger font size on <em>
$btn-padding-jumbo:            24px 32px !default;
$btn-padding-jumbo-em-adjust:  15px 32px !default; // b/c of larger font size on <em>
$btn-padding-micro:            9px 15px !default;

// Positioning
$btn-margin:         0 auto !default;

// Borders
$btn-border-width:   1px !default;
$btn-border-style:   solid !default;

// Default Colors
// ===============================================
//-- Solid Button Defaults (primary/jumbo)
$btn-font-color:        #fff !default;
$btn-font-color-active: #fff !default;

$btn-bg-color:          #e53d46 !default;
$btn-bg-color-active:   #cd333c !default;

$btn-icon-fill:         null !default;
$btn-icon-fill-active:  null !default;

$btn-border-color:      $btn-bg-color !default;

//-- Stroke Button Defaults (stroke/ micro)
$btn-font-color-stroke:        $red !default;
$btn-font-color-active-stroke: #fff !default;

$btn-bg-color-active-stroke:   $red !default;

$btn-icon-fill-stroke:         null !default;
$btn-icon-fill-active-stroke:  null !default;



// -- Floating Buttons
$btn-font-color-floating: $blue;
$btn-icon-fill-floating:  $red;

// Border







//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$btn-font-size:      rem(14px) !default;
$btn-font-family:    $font-family-roboto !default;
$btn-font-weight:    $font-weight-medium !default;
$btn-line-height:    lh(14px, 16px) !default;
$btn-letter-spacing: 1px !default;
$btn-text-transform: uppercase !default;


//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////
$btn-transition-duration: $site-transition-duration !default;
$btn-floating: false !default;
