////////////////////////////////////////////////////////////
// 1. Default Button Themes ///////////////////////////////
//////////////////////////////////////////////////////////
$map-bttn-themes: (
  default: (
    bg-color: #181d1c,
    bg-color-active: #c9c0c0ea,
    font-color: #fff,
    font-color-active: #181d1c,
    icon-fill: #fff,
    icon-fill-active: #c9c0c0ea,
  ),
  primary: (
    bg-color: #1d89ff,
    bg-color-active: #fff,
    font-color: #fff,
    font-color-active: #1d89ff,
    border-color: #1d89ff,
    border-color-active: #1d89ff,
  ),
  success: (
    bg-color: #28a745,
    bg-color-active: #fff,
    font-color: #fff,
    font-color-active: #28a745,
    border-color: #28a745,
    border-color-active: #28a745,
  ),
  warning: (
    bg-color: #ffc107,
    bg-color-active: #fff,
    font-color: #fff,
    font-color-active: #ffc107,
    border-color: #ffc107,
    border-color-active: #ffc107,
  ),
  danger: (
    bg-color: #dc3545,
    bg-color-active: #fff,
    font-color: #fff,
    font-color-active: #dc3545,
    border-color: #dc3545,
    border-color-active: #dc3545,
  ),
);
