////////////////////////////////////////////////////////////
// Pill Button Themes ///////////////////////////////////
//////////////////////////////////////////////////////////
$map-bttn-pill-themes :(
	default:(
		bg-color: #fff,
		bg-color-active: #fff,
		border-color: #d3d6d6,
		border-color-active: #4cb7d8,
		font-color: #4cb7d8,
		font-color-active: #4cb7d8,
		icon-fill: #4cb7d8,
		icon-fill-active: #4cb7d8,
	),

);
