////////////////////////////////////////////////////////////
// 6. ghost Button Themes //////////////////////////////
//////////////////////////////////////////////////////////
$map-bttn-ghost-themes :(
  default:(
    font-color: #181d1c,
    icon-fill: #181d1c,
  ),
  admin:(
    font-color: #4cb7d8,
    icon-fill: #4cb7d8,
  )
);
