////////////////////////////////////////////////////////////
// 4. Stroke Button Themes ////////////////////////////////
//////////////////////////////////////////////////////////
$map-bttn-stroke-themes: (
  default: (
    font-color: #181d1c,
    font-color-active: #fff,
    bg-color: #fff,
    bg-color-active: #181d1c,
    border-color: #181d1c,
    border-color-active: #181d1c,
    icon-fill: #181d1c,
    icon-fill-active: #fff,
  ),
  primary: (
    font-color: #1d89ff,
    font-color-active: #fff,
    bg-color: #fff,
    bg-color-active: #1d89ff,
    border-color: #1d89ff,
    border-color-active: #1d89ff,
  ),
  success: (
    font-color: #28a745,
    font-color-active: #fff,
    bg-color: #fff,
    bg-color-active: #28a745,
    border-color: #28a745,
    border-color-active: #28a745,
  ),
  warning: (
    font-color: #ffc107,
    font-color-active: #fff,
    bg-color: #fff,
    bg-color-active: #ffc107,
    border-color: #ffc107,
    border-color-active: #ffc107,
  ),
  danger: (
    font-color: #dc3545,
    font-color-active: #fff,
    bg-color: #fff,
    bg-color-active: #dc3545,
    border-color: #dc3545,
    border-color-active: #dc3545,
  ),
  neon: (
    font-color: #00f3ff,
    font-color-active: #000,
    bg-color: transparent,
    bg-color-active: #00f3ff,
    border-color: #00f3ff,
    border-color-active: #00f3ff,
  ),
  royal: (
    font-color: #6b21a8,
    font-color-active: #fff,
    bg-color: transparent,
    bg-color-active: #6b21a8,
    border-color: #6b21a8,
    border-color-active: #6b21a8,
  ),
  ocean: (
    font-color: #0891b2,
    font-color-active: #fff,
    bg-color: transparent,
    bg-color-active: #0891b2,
    border-color: #0891b2,
    border-color-active: #0891b2,
  ),
  carbon: (
    font-color: #111827,
    font-color-active: #fff,
    bg-color: transparent,
    bg-color-active: #111827,
    border-color: #111827,
    border-color-active: #111827,
  ),
);
