//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$font-family-muli:     'Muli', sans-serif;
$font-family-roboto:   'Roboto', sans-serif;

$font-weight-xlight:    200;
$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-medium:    500;
$font-weight-semibold:  600;
$font-weight-bold:      700;

$font-size-base:        16px;
$line-height-base:      1.44444444;
$btn-font-size:      rem(14px) !default;
$btn-font-family:    $font-family-roboto !default;
$btn-font-weight:    $font-weight-medium !default;
$btn-line-height:    lh(14px, 16px) !default;
$btn-letter-spacing: 1px !default;
$btn-text-transform: uppercase !default;