// Colors
// ======================================
$blue:        #02263c;
$blue-light:  #87a0af;
$gray:        #5f6567;
$gray-med:    #dadfe1;
$gray-light:  #f0f2f3;
$green:       #4abfad;
$red:         #e53d46;
$red-dark:    #c3343c;
$body-bg:     $blue;

// Default Colors
// ===============================================
//-- Solid Button Defaults (primary/xl)
$btn-font-color:             #fff !default;
$btn-font-color-active:      #fff !default;
$btn-bg-color:               #e53d46 !default;
$btn-bg-color-active:        #cd333c !default;
$btn-icon-fill:                 null !default;
$btn-icon-fill-active:          null !default;
$btn-border-color:             $btn-bg-color !default;
//-- Stroke Button Defaults (stroke/ sm)
$btn-font-color-stroke:        $red !default;
$btn-font-color-active-stroke:#fff !default;

$btn-bg-color-active-stroke:    $red !default;

$btn-icon-fill-stroke:           null !default;
$btn-icon-fill-active-stroke:    null !default;

// -- Floating Buttons
$btn-font-color-floating: $blue;
$btn-icon-fill-floating:  $red;