// Mixin defining a pill
// Notes:
// - All arguments default to variables set in buttons-settings.
//
// - Theme keys must be stored in the `$map-bttn-themes` in
//   `_buttons-themes.scss`
//
// - If passing individual arguments you must pass null as the first argument
// - and use name arguments unless all arguments are passed [see underloaded example].
//
// Examples:
// default:     bttn-pill() red background white text
// theme:       bttn-pill(red)


@mixin bttn-pill(
        $theme:      null,
        $size:       null,
        $font-size:  null
    ) {
        // Initialize the $map variable so it can be set dynamically
        $map: null;
        // Check for theme and set args to those values
        @if $theme {
            $map: map-get($map-bttn-pill-themes, $theme);
        } @else {
            $map: $bttn-pill-theme-defaults;
        }
        // Map the values
        $bg-color: map-get($map, bg-color);
        $bg-color-active: map-get($map, bg-color-active);
        $border-color: map-get($map, border-color);
        $border-color-active: map-get($map, border-color-active);
        $font-color: map-get($map, font-color);
        $font-color-active: map-get($map, font-color-active);
        $icon-fill: map-get($map, icon-fill);
        $icon-fill-active: map-get($map, icon-fill-active);

        // include shared styles
        @include bttn-base();

        // include button transition properties
        @include bttn-hover-transition();

        padding: 4px 12px;
        border-radius: 500px;
        text-transform: none;
        text-decoration: none;
        vertical-align: middle;
        display: inline-block;
        border-style: $bttn-border-style;
        border-width: $bttn-border-width;
        border-color: $border-color;
        color: $font-color;
        background-color: $bg-color;
        appearance: none; // just in case it's a button or input

        // include button transition properties
        @include bttn-hover-transition();

        .icon {
            @if $icon-fill { // if specified
                fill: $icon-fill;
            }
            @else { // else same as font color
                fill: $font-color;
            }
        }

        &:visited {
            color: $font-color;
        }

        &:active,
        &:focus,
        &:hover {
            color: $font-color-active;
            background-color: $bg-color-active;
            border-color: $border-color-active;
            text-decoration: none;
            outline: none;

            .icon {
                @if $icon-fill { // if specified
                    fill: $icon-fill-active;
                }
                @else { // else same as font color active
                    fill: $font-color-active;
                }
            }

        }
        // Disabled State
        //
        // The disabled state uses the class .disabled, is-disabled,
        // and the form attribute disabled="disabled".
        // The use of !important is only added because this is a state
        // that must be applied to all buttons when in a disabled state.
        // &.disabled,
        // &.is-disabled,
        // &:disabled {}
}
