// Add the appropriate padding to buttons
@mixin bttn-size($size: null, $font-size: null) {
  // ---------------------------------
  // PADDING
  // ---------------------------------
  @if $size == xl {
    padding: var(--bttn-padding-xl, #{$bttn-padding-xl});
  } @else if $size == lg {
    padding: var(--bttn-padding-lg, #{$bttn-padding-lg});
  } @else if $size == sm {
    padding: var(--bttn-padding-sm, #{$bttn-padding-sm});
  } @else if $size == none {
    padding: 0;
  } @else {
    padding: var(--bttn-padding, #{$bttn-padding});
  }

  // ---------------------------------
  // FONT SIZE & LINE HEIGHT
  // ---------------------------------
  @if $font-size == xl {
    font-size: var(--bttn-font-size-xl, #{$bttn-font-size-xl});
    line-height: var(--bttn-line-height-xl, #{$bttn-line-height-xl});
  } @else if $font-size == lg {
    font-size: var(--bttn-font-size-lg, #{$bttn-font-size-lg});
    line-height: var(--bttn-line-height-lg, #{$bttn-line-height-lg});
  } @else if $font-size == sm {
    font-size: var(--bttn-font-size-sm, #{$bttn-font-size-sm});
    line-height: var(--bttn-line-height-sm, #{$bttn-line-height-sm});
  } @else {
    font-size: var(--bttn-font-size, #{$bttn-font-size});
    line-height: var(--bttn-line-height, #{$bttn-line-height});
  }
}
