/**
 * Base Button Style
 * Shared default values for all bttn variants.
 *
 * @mixin bttn-base
 * @access private
 */
@mixin bttn-base {
  appearance: none; // Ensure consistent rendering across browsers
  cursor: pointer;
  font-weight: var(--bttn-font-weight, #{$bttn-font-weight});
  font-family: var(--bttn-font-family, #{$bttn-font-family});
  overflow-wrap: break-word;
  text-decoration: none;
  text-align: center;
  text-transform: var(--bttn-text-transform, #{$bttn-text-transform});
  word-break: break-word;
  letter-spacing: var(--bttn-letter-spacing, #{$bttn-letter-spacing});

  &:active,
  &:hover {
    text-decoration: none;

    .icon,
    .icon-wrap {
      text-decoration: none;
    }
  }

  &:focus {
    outline: thin dotted;
  }
}
